extends layout

block content
  div.sidebar.left
    ul
      li 领域
      li 地域
      li 融资次数
      li 融资金额
  div.content.right.columns-2
    div#areas-0
    div#areas-1
    div#areas-2
    div#areas-3
    div#areas-4
