extends layout

block content
  h2.text-center
    span 公司概况
    &nbsp;&nbsp;
    a(href="/investevents") 融资事件
  div.sidebar.left
    p#areas 领域
    ul
      li#lines-areas 折线图
      li#details-areas 详细
    p#locations 地域
    ul
      li#lines-locations 折线图
      li#details-locations 详细
  div#content.content.right
  //- template
  script(type='text/template', id='t-details-areas')
    .columns-2
      div#areas-0
      div#areas-1
      div#areas-2
      div#areas-3
      div#areas-4
  script(type='text/template', id='t-locations')
    .columns-2
      div.map#locations-0
      div.map#locations-1
      div.map#locations-2
      div.map#locations-3
      div.map#locations-4
  script(type='text/template', id='t-lines-areas')
    div#lines-areas-content
  script(type='text/template', id='t-lines-locations')
    div#lines-locations-content
