doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(rel='javascript', src='/javascripts/deps.js')
    script(rel='javascript', src='/javascripts/deps/highcharts.src.js')
    script(rel='javascript', src='/javascripts/deps/map.js')
    script(rel='javascript', src='/javascripts/deps/cn-all-sar-taiwan.js')
    script(rel='javascript', src='/javascripts/all.js')
=  body
    block content
      p hello
